<!DOCTYPE html>
<html>
  <head>
    <title>FIT2095 Library App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      h1 {
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <div class="logo">
      <img
        src="/images/logo.jpg"
        width="600"
        mode="aspectFit|aspectFill|widthFix"
      />
    </div>

    <a href="/">Home</a>
    <a href="/getbooks">List Books</a>
    <a href="/deletebook">Delete book</a>
    <a href="/addbook">Add book</a>

    <a href="/getauthors">List Author</a>
    <a href="/addauthor">Add Author</a>
    <a href="/updateauthor">Update Author</a>

    <h1>FIT0195 Library App</h1>
  </body>
</html>
