<div class="section">
  <table class="table table-striped">
    <tr>
      <th>Title</th>
      <th>Production Year</th>
      <th>Select!</th>
    </tr>
    <tr *ngFor="let item of moviesDB">
      <td>{{ item.title }}</td>
      <td>{{ item.year }}</td>
      <td>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="onSelectUpdate(item)"
        >
          Update
        </button>
      </td>
    </tr>
  </table>
  <hr />
  <div *ngIf="moviesDB.length > 0">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="title" />
    </div>
    <div class="form-group">
      <label for="pYear">Production Year</label>
      <input
        type="number"
        class="form-control"
        id="pYear"
        [(ngModel)]="pYear"
      />
    </div>
    <button type="submit" class="btn btn-primary" (click)="onUpdateMovie()">
      Update Movie
    </button>
    <button type="submit" class="btn btn-primary" (click)="onCancel()">
      Cancel
    </button>
  </div>
  <label *ngIf="title.length == 0 || !pYear" class="text-danger"
    >All fields are required.</label
  >
  <label *ngIf="error" class="text-danger">Error in database.</label>
</div>
