<!DOCTYPE html>
<html>
  <head>
    <title>error</title>
    <link rel = "stylesheet" href = "/stylesheets/style.css">
    <style>
      .img-container {
        text-align: center;
      }
    </style>
  </head>
  <body>
        <a href="/index">Home</a>
        <a href="/newemployee">New Employee</a>
        <a href="/listemployees">List Employees</a>

        <div class = "img-container">
        <img src="/images/erro.png" width="1024">
        </div>
    </body>
  </body>
</html>
