<!DOCTYPE html>
<html>
  <head>
    <title>HR Department System</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/index">Home</a>
    <a href="/newemployee">New Employee</a>
    <a href="/listemployees">List Employees</a>
    <h1>Invalid Data</h1>
  </body>
</html>
