<!DOCTYPE html>
<html>
  <head>
    <title>HR Department System</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      .header {
        /* display: flex; */
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <img
        src="/images/logo.jpg"
        width="600"
        mode="aspectFit|aspectFill|widthFix"
        lazy-load="false"
      />
    </div>

    <a href="/newemployee">New Employee</a>
    <a href="/listemployees">List employees</a>

    <!-- <button type="button" onClick="window.location.href = '/getallitems'">
      List all items</button
    ><br />
    <button type="button" onClick="window.location.href = '/getwarehousevalue'">
      Get warehouse total value
    </button> -->
  </body>
</html>
