<div class="section">
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" ngNativeValidate>
    <div class="form-group">
      <label for="textInput">Your text in English</label>
      <input
        [(ngModel)]="text"
        class="form-control"
        name="textInput"
        placeholder="Enter sentences"
        required
      />
    </div>

    <div class="custom-control custom-radio">
      <input
        class="form-check-input"
        type="radio"
        name="langRadios"
        ngModel
        value="fr"
        required
      />
      <label class="form-check-label" for="langRadios">fr</label>
    </div>
    <div class="custom-control custom-radio">
      <input
        class="form-check-input"
        type="radio"
        name="langRadios"
        ngModel
        value="zh"
        required
      />
      <label class="form-check-label" for="langRadios">zh</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <audio controls id="ap">
    <source src="{{ audioPath }}" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>
  <div class="alert alert-dark" role="alert">Translations: {{ result }}</div>

  <div class="alert alert-primary" role="alert">{{ broadcastMsg }}</div>
</div>

<!-- <div style="display: block"></div> -->

<div class="jumbotron text-center">
  <p>FIT2095, Synthesize and Translate App</p>
</div>
