<!DOCTYPE html>
<html>
  <head>
    <title>FIT2095 Library App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      h1 {
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <a href="/getbooks">List Books</a>
    <a href="/addbook">Add Book</a>
    <a href="/updatebook">Update Book</a>
    <a href="/deletebook">Delete book</a>

    <h1>FIT0195 Library App</h1>
  </body>
</html>
